@model PagedList.PagedList<DataLayer.Model.Pages>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "آرشیو خبر";
}
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">خانه </a></li>
    <li class="breadcrumb-item"><a href="/Home/ArchiveNews">اخبار </a></li>
    <li class="breadcrumb-item active"> آرشیو اخبار </li>
</ul>

<!-- last news -->
<section class="last-news-section border-radius">
    <header><i class="icons icon-doc-2"></i>  <h3> آرشیو اخبار</h3> </header>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <img class="border-radius" src="/Images/NewsImages/@item.ImageName">
                <h2> <a href="/Pages/@item.PageID">@item.PageTitle</a></h2>
                <p>
                    @Html.Raw(item.ShortDescription)
                </p>
                <span class="date-publish"><i class="fa fa-calendar"></i> انتشار : @item.CreateDate.ToString("dddd, dd MMMM yyyy") </span>
                <a href="/Pages/@item.PageID" class="more-link"><i class="icons icon-more"></i></a>
            </li>

        }
    </ul>
</section>
<!-- End last news -->

@Html.PagedListPager(Model, PageNumber => Url.Action("ArchiveNews", new { PageNumber }))

