@model IEnumerable<DataLayer.Model.Pages>
@{
    ViewBag.Title = "نمایش اخبار بر اساس گروه";
}
   
    <!-- last news -->
    <section class="last-news-section border-radius">
        <header><i class="icons icon-doc-2"></i>  <h3> آرشیو اخبار @ViewBag.NewsGroupTitle</h3> </header>
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <img class="border-radius" src="/Images/Thumb/@item.ImageName">
                    <h2> <a href="/Pages/@item.PageID"> @item.PageTitle </a></h2>
                    <p>
                        @Html.Raw(item.ShortDescription)
                    </p>
                    <span class="date-publish"><i class="fa fa-calendar"></i> انتشار : @item.CreateDate.ToString("dddd, dd MMMM yyyy") </span>
                    <a href="/Pages/@item.PageID" class="more-link"><i class="icons icon-more"></i></a>
                </li>
            }
        </ul>
    </section>
    <!-- End last news -->
    <!--  <ul class="pagination">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul> -->


