@model DataLayer.Model.Users
@{
    ViewBag.Title = "ActiveUser";
}

<div class="alert alert-success text-center">

    <h5> کاربر گرامی @ViewBag.Name حساب کاربری شما با موفقیت فعال شد</h5>
    <br />
    <a href="/Login" class="btn btn-info">ورود</a>

</div>
