@model DataLayer.Model.Users
@{
    ViewBag.Title = "ثبت نام با موفقیت انجام شد";
}

<div class="alert alert-success text-center">
    <h5>
        کاربر گرامی @Model.UserName ایمیل فعالسازی با موفقیت به شما ارسال شد
    </h5>
</div>


