@model DataLayer.Model.Users
@{
    ViewBag.Title = "موفقیت آمیز!";
}

<div class="alert alert-success text-center">
    <h5>
        کاربر گرامی @Model.UserName ایمیل بازیابی رمز عبور حساب با موفقیت به شما ارسال شد
    </h5>
</div>

